Flow_Jason_Nodered.json
[{"id":"74c88a6f.669074","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6ab2b1d3.32ed2","type":"debug","z":"74c88a6f.669074","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":340,"wires":[]},{"id":"86ac6732.25fae8","type":"http request","z":"74c88a6f.669074","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":540,"wires":[["c9217b9a.9379b8"]]},{"id":"630d431e.c4ba5c","type":"ui_form","z":"74c88a6f.669074","name":"","label":"","group":"a91b46e5.091928","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"gr","type":"text","required":false,"rows":null},{"label":"Race/ethnicity","value":"r","type":"text","required":false,"rows":null},{"label":"Parental Level Education","value":"pe","type":"text","required":false,"rows":null},{"label":"lunch","value":"l","type":"text","required":false,"rows":null},{"label":"test preparation course","value":"tc","type":"text","required":false,"rows":null},{"label":"Math score","value":"ms","type":"number","required":false,"rows":null},{"label":"Reading score","value":"rs","type":"number","required":false,"rows":null},{"label":"Writing score","value":"ws","type":"number","required":false,"rows":null}],"formValue":{"gr":"","r":"","pe":"","l":"","tc":"","ms":"","rs":"","ws":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":640,"wires":[["67027705.df4148"]]},{"id":"67027705.df4148","type":"function","z":"74c88a6f.669074","name":"Pre-token","func":"global.set(\"sl\",msg.payload.sl)\nglobal.set(\"gr\",msg.payload.gr)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"tc\",msg.payload.tc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nvar apikey = \"eCyCvhIi68nV7irbyV-IckXOaOgz5b9xrzus3ao9jBeL\";\nmsg.headers={\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":600,"wires":[["86ac6732.25fae8"]]},{"id":"c9217b9a.9379b8","type":"function","z":"74c88a6f.669074","name":"pre-prediction","func":"var sl=global.get('sl')\nvar gr =global.get('gr')\nvar r =global.get('r')\nvar pe =global.get('pe')\nvar l =global.get('l')\nvar tc =global.get('tc')\nvar ms =global.get('ms')\nvar rs =global.get('rs')\nvar ws =global.get('ws')\nvar token=msg.payload.access_token\nvar instance_id=\"caa6f840-30a3-499f-8ac1-7b42cca047fd\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"  +token, \"ML-Instance-ID\": instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Unnamed: 0\",\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\"],\"values\":[[sl,gr,r,pe,l,tc,ms,rs,ws]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["68f3f78e.386468"]]},{"id":"68f3f78e.386468","type":"http request","z":"74c88a6f.669074","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/1bd49694-12e2-4fda-b63e-535f541d0b35/predictions","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":440,"wires":[["6ab2b1d3.32ed2","e9aaba91.072228"]]},{"id":"e9aaba91.072228","type":"function","z":"74c88a6f.669074","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["b8b7f274.2548","f2346e90.92061"]]},{"id":"b8b7f274.2548","type":"ui_text","z":"74c88a6f.669074","group":"a91b46e5.091928","order":2,"width":0,"height":0,"name":"","label":"Total_score","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":540,"wires":[]},{"id":"4ad5198c.1bebf8","type":"ui_text","z":"74c88a6f.669074","group":"a91b46e5.091928","order":4,"width":0,"height":0,"name":"","label":"Grade","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":540,"wires":[]},{"id":"f2346e90.92061","type":"function","z":"74c88a6f.669074","name":"Grade Function","func":"var grad=msg.payload\nif (grad>85)\n    {\n        msg.payload=\"S\";\n        \n    }\nelse if (grad<=85 && grad>80)\n    {\n        msg.payload=\"A\";\n       \n        \n    }\n        \nelse if (grad<=80 && grad>70)\n    {\n        msg.payload=\"B\";\n        \n        \n    }\n        \nelse if (grad<=70 && grad>60)\n    {\n        msg.payload=\"C\"\n        \n    }\nelse if (grad<=60 && grad>50)\n    {\n        msg.payload=\"D\";\n        \n    }\nelse if (grad<=50 && grad>40)\n    {\n        msg.payload=\"E\";\n       \n        \n    }\nelse {\n    msg.payload=\"Fail\";\n    \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":420,"wires":[["4ad5198c.1bebf8"]]},{"id":"a91b46e5.091928","type":"ui_group","z":"","name":"Default","tab":"d9af50e9.19c73","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9af50e9.19c73","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]